# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test outputs
htmlcov/
.coverage

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Visualization outputs
visualization/outputs/
*.png
*.jpg
*.gif
*.mp4


